.mission-item {
  &__name {
    font-size: 2rem;
    font-weight: 700;
    vertical-align: text-top;
    padding: 1rem 0.6rem;
  }

  &__description {
    vertical-align: text-top;
    padding: 1rem 1.2rem 3.2rem 0.6rem;
  }

  &__status-container {
    padding: 0 0.8rem;
  }

  &__status {
    display: block;
    width: min-content;
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0.3px;
    background-color: rgb(100, 95, 95);
    background-color: rgb(117, 117, 117);
    text-transform: uppercase;
    color: var(--color-white);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    &--active {
      text-transform: capitalize;
      background-color: var(--color-primary-300);
    }
  }

  &__btn-container {
    padding: 3.2rem 1.6rem;
  }

&__btn {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 0.5rem;
    white-space: nowrap;
    color: #272a32;
    padding: 0.8rem 1.2rem;
    transition: all 0.2s;

    &:hover {
      background-color: #272a32;
      color: var(--color-white);
    }

    &--active {
      color: #dc3545;

      &:hover {
        background-color: #dc3545;
      }
    }
  }
}
